<ul>
    <li id="quick-links" class="quick-links dropdown-container responsive-menu<!-- IF not S_DISPLAY_QUICK_LINKS and not S_DISPLAY_SEARCH --> hidden<!-- ENDIF -->" data-skip-responsive="true">
        <a href="#" class="dropdown-trigger">
            <i class="icon fa-bars fa-fw" aria-hidden="true"></i><span>{L_QUICK_LINKS}</span>
        </a>
        <div class="dropdown">
            <div class="pointer"><div class="pointer-inner"></div></div>
            <ul class="dropdown-contents" role="menu">
                <!-- EVENT navbar_header_quick_links_before -->

                <!-- IF S_DISPLAY_SEARCH -->
                <li class="separator"></li>
                <!-- IF S_REGISTERED_USER -->
                <li>
                    <a href="{U_SEARCH_SELF}" role="menuitem">
                        <i class="icon fa-file-o fa-fw icon-gray" aria-hidden="true"></i><span>{L_SEARCH_SELF}</span>
                    </a>
                </li>
                <!-- ENDIF -->
                <!-- IF S_USER_LOGGED_IN -->
                <li>
                    <a href="{U_SEARCH_NEW}" role="menuitem">
                        <i class="icon fa-file-o fa-fw icon-red" aria-hidden="true"></i><span>{L_SEARCH_NEW}</span>
                    </a>
                </li>
                <!-- ENDIF -->
                <!-- IF S_LOAD_UNREADS -->
                <li>
                    <a href="{U_SEARCH_UNREAD}" role="menuitem">
                        <i class="icon fa-file-o fa-fw icon-red" aria-hidden="true"></i><span>{L_SEARCH_UNREAD}</span>
                    </a>
                </li>
                <!-- ENDIF -->
                <li>
                    <a href="{U_SEARCH_UNANSWERED}" role="menuitem">
                        <i class="icon fa-file-o fa-fw icon-gray" aria-hidden="true"></i><span>{L_SEARCH_UNANSWERED}</span>
                    </a>
                </li>
                <li>
                    <a href="{U_SEARCH_ACTIVE_TOPICS}" role="menuitem">
                        <i class="icon fa-file-o fa-fw icon-blue" aria-hidden="true"></i><span>{L_SEARCH_ACTIVE_TOPICS}</span>
                    </a>
                </li>
                <li class="separator"></li>
                <li>
                    <a href="{U_SEARCH}" role="menuitem">
                        <i class="icon fa-search fa-fw" aria-hidden="true"></i><span>{L_SEARCH}</span>
                    </a>
                </li>
                <!-- ENDIF -->

                <!-- IF not S_IS_BOT and (S_DISPLAY_MEMBERLIST or U_TEAM) -->
                <li class="separator"></li>
                <!-- IF S_DISPLAY_MEMBERLIST -->
                <li>
                    <a href="{U_MEMBERLIST}" role="menuitem">
                        <i class="icon fa-group fa-fw" aria-hidden="true"></i><span>{L_MEMBERLIST}</span>
                    </a>
                </li>
                <!-- ENDIF -->
                <!-- IF U_TEAM -->
                <li>
                    <a href="{U_TEAM}" role="menuitem">
                        <i class="icon fa-shield fa-fw" aria-hidden="true"></i><span>{L_THE_TEAM}</span>
                    </a>
                </li>
                <!-- ENDIF -->
                <!-- ENDIF -->
                <li class="separator"></li>

                <!-- EVENT navbar_header_quick_links_after -->
            </ul>
        </div>
        <!-- EVENT index_body_stat_blocks_before -->

        <!-- IF S_DISPLAY_ONLINE_LIST -->
        <div class="stat-block online-list">
            <!-- IF U_VIEWONLINE --><h3><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h3><!-- ELSE --><h3>{L_WHO_IS_ONLINE}</h3><!-- ENDIF -->
            <p>
                <!-- EVENT index_body_block_online_prepend -->
                {TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}<br />
                <!-- IF U_VIEWONLINE -->
                <br />{LOGGED_IN_USER_LIST}
                <!-- IF LEGEND --><br /><em>{L_LEGEND}{L_COLON} {LEGEND}</em><!-- ENDIF -->
                <!-- ENDIF -->
                <!-- EVENT index_body_block_online_append -->
            </p>
        </div>
        <!-- ENDIF -->

        <!-- EVENT index_body_birthday_block_before -->

        <!-- IF S_DISPLAY_BIRTHDAY_LIST -->
        <div class="stat-block birthday-list">
            <h3>{L_BIRTHDAYS}</h3>
            <p>
                <!-- EVENT index_body_block_birthday_prepend -->
                <!-- IF .birthdays -->{L_CONGRATULATIONS}{L_COLON} <strong><!-- BEGIN birthdays -->{birthdays.USERNAME}<!-- IF birthdays.AGE !== '' --> ({birthdays.AGE})<!-- ENDIF --><!-- IF not birthdays.S_LAST_ROW -->, <!-- ENDIF --><!-- END birthdays --></strong><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF -->
                <!-- EVENT index_body_block_birthday_append -->
            </p>
        </div>
        <!-- ENDIF -->

        <!-- IF NEWEST_USER -->
        <div class="stat-block statistics">
            <h3>{L_STATISTICS}</h3>
            <p>
                <!-- EVENT index_body_block_stats_prepend -->
                {TOTAL_POSTS} &bull; {TOTAL_TOPICS} &bull; {TOTAL_USERS} &bull; {NEWEST_USER}
                <!-- EVENT index_body_block_stats_append -->
            </p>
        </div>
        <!-- ENDIF -->

        <!-- EVENT index_body_stat_blocks_after -->
    </li>
</ul>